[submodule "workflow/scripts/grups-rs"]
	path = workflow/scripts/grups-rs
	url = https://github.com/MaelLefeuvre/grups-rs.git
[submodule "workflow/scripts/pmd-mask"]
	path = workflow/scripts/pmd-mask
	url = git@github.com:MaelLefeuvre/pmd-mask.git
